/** resume custom css **/
body {
	background-color: #000000;
	font-family: Oswald, Georgia, serif;
	font-weight: 400;
	color: #fff;
}

.modal-content {
	background-color: #000000;
}

h2, h3 {
	color: #f50;
}

ul {
	list-style-type: none;
	padding: 0px;
}

li {
	color: #3c5a9d;
	margin-bottom: 0.5em;
}

a, a:link, a:hover, a:visited, a:active  {
	color: #666;
	text-decoration: none;
}

a {
	background-color: #e1e1e1;
	color: #666;
	margin: .4em;
	padding: 0.5em;
}

.vertical-border {
	border-left-style: solid;
	border-left-width: 0.1em;
	border-color: #fff;
}

.project-entry {
	max-width: 33%;
	margin-bottom: 0.5em;
	margin-right: 0em;
	text-align: left;
}

.project-btn-holder {
	margin-bottom: 0.5em;
}

.project-btn {
	color: #000;
	max-width: 100%;
}

.close-button {
	color: #000;
	background-color: #fff;
}

.image-holder {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.work-entry {
	margin-bottom: 0.5em;
	color: #08b;
}

.education-entry {
	margin-bottom: 0.5em;
}

